.App {
  text-align: center;
}

.head-container{
  height: 100px;
  position: relative;
  text-align: right;
}

.textBox1{
  display: inline-block;
  position: absolute;  
  right: 200px;
  top: 25px;
}
.textBox2{
  display: inline-block;
  position: absolute;
  right: 140px;
  top: 25px;
}

.imageBox{
  position: absolute;
  display: inline-block;
  right: 100px;
  top: 20px;
  width: 30px;
  height: 30px;
}

.circleBox{
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
