.main-input-container{
    text-align: center ;
    margin-top: 2%;
    
}
.inputBox{
    width: 30%;
    height: 40px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border:none;
}